.createquestion {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.addanswer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.addTags {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.createform {
  background-color: var(--redcolor);
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
